@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}
header{
    background-color: #254EEB;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
nav > .logo{
    margin-top: 5px;
}
nav > .logo > a{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
nav > .navbar  > a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 0% 20px;
}
a:hover{
   border-bottom: 2px solid #fff;
}
.auth a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 0% 20px;
}
/*  */

.info-picker{
    width: 500px;
    margin: auto;
}
table{
    font-size: 13px;
}

.scrollme{
    overflow-x: auto;
}
 /* Scroll */
  /* width */
  ::-webkit-scrollbar {
    /* width: 2px; */
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0275d8;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0275d8;
  }
  