@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}
header{
    background-color: #254EEB;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
nav > .logo{
    margin-top: 5px;
}
nav > .navbar  > a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 0% 20px;
}
a:hover{
   border-bottom: 2px solid #fff;
}
.auth a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 0% 20px;
}
nav > .logo > a{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
.sidebar{
    background-color: #254EEB;
    height: 90vh;
    width: 380px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
}
.info-detials{
    margin-top: 30px;
    max-width: 90%;
}
.info-detials > figure img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.text-info{
    width: 100%;
    color: #fff;
}
.text-info > label{
    color: #fff;
    font-size: 18px;
}
.text-info > label:nth-child(2){
    margin-left: 10px;
}